<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.portaldoaluno" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Portal do Aluno</name>
    <description>
        App for studants
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
	
	<platform name="android" />
	
</widget>
