<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title>Portal Do Aluno</title>

         <link href="css/bootstrap.min.css" rel="stylesheet">	
       
        <script src="js/angular.js"></script>
        <script src="js/ngMask.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
	

    </head>
    <body ng-app="app" ng-controller="appController">

   
 <div class="panel panel-primary">
 
  <div class="panel-heading" align="center">
  	<strong> Portal do Aluno </strong>
  	</div>

  <div class="panel-body">
  	

	<div class="container" align="center" >

				<form class="form-signin">		
					<h2 class="form-signin-heading">Acessar</h2>
					<label for="inputEmail" class="sr-only">R.A </label>
					<input type="text" ng-model="professor.email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
					
					<input type="password" ng-model="professor.senha" id="inputPassword" class="form-control" placeholder="Senha" required>
					<br>
					<button class="btn btn-lg btn-primary btn-block" ng-click="acessar(professor)" type="button">Entrar</button>
			    </form>
	      
	    </div> 


  </div>
  <div class="panel-footer"></div>

</div>

   	

   

    </body>
</html>
