/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #DCDCDC;
}
@media screen and (max-width: 380px) {
	table {width:100%;}
	thead {display: none;}
	tbody td {display: block; text-align:center;}
	tr td:first-child {font-weight:bold;font-size:1.3em;}
	tbody td:before { 
 	   content: attr(data-th); 
 	   display: block;
 	   text-align:center;  
	}
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}